/* General Styles */
body {
    font-family: 'Droid Sans', sans-serif;
    padding: 20px;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content */
}

/* Style for progress bar */
progress {
    width: 100%; /* Allows progress bar to adjust based on the container's width */
    height: 20px;
    border-radius: 10px;
    background-color: #f0f8ff;
}

/* Adjustments for mobile */
@media (max-width: 768px) {
    #leaderboard img {
        width: 60px; /* Smaller avatars on mobile */
        height: 60px;
    }

    #leaderboard span, .status-label {
        font-size: 0.8em; /* Smaller text on mobile */
    }
}

/* Style for leaderboard list */
#leaderboard li {
    list-style-type: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between elements */
    width: 100%; /* Full width to use available space */
    box-sizing: border-box; /* Include padding in width */
}

#leaderboard img {
    border-radius: 50%;
    margin-right: 10px;
}

/* Countdown Timer Styles */
#countdown-container {
    text-align: center;
    margin: 30px 0;
    width: 100%; /* Full width */
}

#countdown {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0077ff;
    border-radius: 5px;
    background-color: #f0f8ff;
    font-size: 1.2em;
}

/* Status Label Styles */
.status-label {
    font-size: 0.9em;
    margin-left: 10px;
    white-space: nowrap;
}
