/* General Styles */
body {
    font-family: 'Droid Sans', sans-serif;
    padding: 20px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; /* You might want to adjust the background color as well */
}

/* Style for progress bar */
progress {
    width: 50%;
    height: 20px;
    border-radius: 10px;
    background-color: #dae3f3; /* Lighter shade for progress bar background */
}

progress::-webkit-progress-bar {
    background-color: #dae3f3;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #375c7f; /* New blue color for the progress value */
    border-radius: 10px;
}

/* Style for leaderboard list */
#leaderboard li {
    list-style-type: none;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #e8eef7; /* Light background for list items */
}

#leaderboard img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #375c7f; /* New blue color for the image border */
}

#leaderboard span {
    margin-right: 20px;
    color: #333; /* Text color for names */
}

/* Countdown Timer Styles */
#countdown-container {
    text-align: center;
    margin: 30px 0;
}

#countdown {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: 2px solid #375c7f; /* New blue color for the countdown frame */
    border-radius: 5px;
    background-color: #dae3f3; /* Lighter shade for countdown background */
    font-size: 1.2em;
    color: #333; /* Text color for countdown */
}

/* Status Label Styles */
.status-label {
    font-size: 0.9em;
    margin-left: 10px;
    white-space: nowrap;
    color: #375c7f; /* New blue color for status labels */
}

/* Survey Prompt and Button Styles */
#survey-prompt {
    text-align: center;
    margin: 20px 0;
}

.survey-button {
    padding: 10px 20px;
    background-color: #375c7f; /* New blue color for the button */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.survey-button:hover {
    background-color: #2b4a63; /* Darker shade for hover effect, adjust as needed */
    cursor: pointer;
}
